* {
  box-sizing: border-box;
  margin: 0;
}

.jukebox-container {
  width: 95vw;
  height: 95vh;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

.search-bar-box {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.form {
  margin-top: 5%
}

.button-container {
  text-align: center;
}

.artwork-box {
  text-align: center;
}
